*.nupkg
.vs
Debug
Release
packages
TellOP.VC.db
TellOP/TellOP/bin
TellOP/TellOP/obj
TellOP/TellOP/TellOP.csproj.user
TellOP/TellOP/*.lock.json
TellOP/TellOP/*.nuget.props
TellOP/TellOP/*.nuget.targets
TellOP/TellOP.Droid/bin
TellOP/TellOP.Droid/obj
TellOP/TellOP.Droid/TellOP.Droid.csproj.user
TellOP/TellOP.Droid/*.lock.json
TellOP/TellOP.Droid/*.nuget.props
TellOP/TellOP.Droid/*.nuget.targets
TellOP/TellOP.iOS/bin
TellOP/TellOP.iOS/obj
TellOP/TellOP.iOS/TellOP.iOS.csproj.user
TellOP/TellOP.iOS/*.lock.json
TellOP/TellOP.iOS/*.nuget.props
TellOP/TellOP.iOS/*.nuget.targets
TellOP/TellOP.UWP/bin
TellOP/TellOP.UWP/obj
TellOP/TellOP.UWP/TellOP.iOS.csproj.user
TellOP/TellOP.UWP/*.lock.json
TellOP/TellOP.UWP/*.nuget.props
TellOP/TellOP.UWP/*.nuget.targets
/TellOP/TellOP.Droid/TellOPDroidConfiguration.cs
/TellOP/TellOP.iOS/TellOPiOSConfiguration.cs
/TellOP/TellOP/Config/TellOPSecretsConfiguration.cs
